<button class="btn btn-primary mb-5" (click)="goToItemList()">Go to the items list</button>
<div class="row">
  <div class="col-sm-12 mb-3">
    <div class="card text-center" *ngIf="item.itemID && !isDeleted">
      <div class="card-block">
        <h4 class="card-title">Do you want to delete the item: {{item.firstName}} {{item.lastName}}</h4>
        <button class="btn btn-link btn-sm" title="Confirm deletion of the item: {{item.firstName}} {{item.lastName}}" (click)="$event.preventDefault(); $event.stopPropagation(); deleteItem(item.itemID)">Delete</button>
        <button class="btn btn-link btn-sm" title="Cancel deletion" (click)="$event.preventDefault(); $event.stopPropagation(); goToItemList()">Cancel</button>
      </div>
    </div><!-- / .card -->
    <div class="card text-center" *ngIf="!item.itemID">
      <div class="card-block">
        <h4 class="card-title">Item doesn't exist</h4>
      </div>
    </div><!-- / .card -->
    <div class="alert alert-success" role="alert" *ngIf="isDeleted">
      <strong>Well done!</strong> You've just successfully deleted item: {{item.firstName}} {{item.lastName}}.
    </div>
  </div><!-- / .col -->
</div><!-- / .row -->